@model JagStore.Models.db.InvoiceItem
@{
    string name = (string)Session["name"];
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Invoice.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDiscription.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDiscription.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
