@model JagStore.Models.db.InvoiceItem
@{
    string name = (string)Session["name"];
}
<div>
    <h4>@name</h4>
    <span>
        @{
            switch (name)
            {
                case "Jag T-Shirt":
                    <img src="~/Pictures/Shirt.gif" alt="Jag T-Shirt" height="100" width="100" />
                    break;
                case "Jag Shorts":
                    <img src="~/Pictures/Shorts.gif" alt="Jag Shorts" height="100" width="100" />
                    break;
                case "Jag Polo":
                    <img src="~/Pictures/Polo.gif" alt="Jag Shorts" height="100" width="100" />
                    break;
                case "Hoodie":
                    <img src="~/Pictures/Hoodie.gif" alt="Jag Hoodie" height="100" width="100" />
                    break;
                default:
                    <img src="~/Pictures/CanNotBeFound.gif" alt="Image Not Found" height="100" width="100" />
                    break;
            }
        }
    </span> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductDiscription.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDiscription.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDiscription.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDiscription.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDiscription.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDiscription.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDiscription.RetailPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDiscription.RetailPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
