@model IEnumerable<JagStore.Models.db.InvoiceItem>
@using Jagstore.Models;

@{
    Total totals = (Total)Session["totals"];
    var Company = (string)Session["companyName"];
    Layout = "~/Views/Shared/_Invoice.cshtml";
    int count = 0;
}
@Styles.Render("~/Content/Invoice.css")
<div class="blue right large">
    INVOICE
    <hr>
</div>
<div>
    <strong>Shellman LLC, LLC</strong> <br>
    700 University Blvd. <br>
    Suite 77 <br>
    Mobile, AL 36688 <br>
    Phone: 777.555.7777    Fax: 251.777.7777 <br>
    Email: ShellmanHelp@usouthal.edu  Web: shop.shellman.net<br>
    <span class="right"><img src="~/Pictures/newjaglarge.jpg" alt="Jag T-Shirt" height="200" width="200" /></span>
</div>
<hr>
<div>
        @ViewBag.InvoiceDate <br>
        <br>
        <strong>Invoice NO.: </strong>@ViewBag.InvoiceID<br>
        To:<br>
        <strong>@Company </strong><br>
        @ViewBag.Address<br>
        @ViewBag.CityState
    <br><br>
</div>

<table class="table">
    <tr class="table-top">
        <th>
            Quantity
        </th>
        <th>
            Item
        </th>
        <th>
            Description
        </th>
        <th>
            Unit Price
        </th>
        <th>
            Amount
        </th>
    </tr>

@foreach (var item in Model)
{

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDiscription.Product.ProductName)
        </td>
        <td>
            Color - @Html.DisplayFor(modelItem => item.ProductDiscription.Color) / Size - @Html.DisplayFor(modelItem => item.ProductDiscription.Size)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.ProductDiscription.RetailPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => totals.Value[count])
        </td>
    </tr>
    count++;
}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
<tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Subtotal</td>
        <td>@totals.Value.Sum()</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Sales Tax</td>
        <td>@totals.Tax()</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Shipping & Handling</td>
        <td>Free</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Due</td>
        <td>@totals.SubTotal()</td>
    </tr>
</table>
<div class="text-center">Make all checks payable to Shellman LLC</div>
