@model IEnumerable<JagStore.Models.db.InvoiceItem>
@using Jagstore.Models;

@{
    Total totals = (Total)Session["totals"];
    Layout = "~/Views/Shared/_Invoice.cshtml";
    int count = 0;
}
<div>
    <div>
        @Html
    </div>
</div>

<table class="table">
    <tr class="table-top">
        <th>
            Quantity
        </th>
        <th>
            Item
        </th>
        <th>
            Description
        </th>
        <th>
            Unit Price
        </th>
        <th>
            Amount
        </th>
    </tr>

@foreach (var item in Model)
{

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDiscription.Product.ProductName)
        </td>
        <td>
            Color - @Html.DisplayFor(modelItem => item.ProductDiscription.Color) / Size - @Html.DisplayFor(modelItem => item.ProductDiscription.Size)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.ProductDiscription.RetailPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => totals.Value[count])
        </td>
    </tr>
    count++;
}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
<tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Subtotal</td>
        <td>@totals.Value.Sum()</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Sales Tax</td>
        <td>@totals.Tax()</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Shipping & Handling</td>
        <td>Free</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Due</td>
        <td>@totals.SubTotal()</td>
    </tr>
</table>
<div>Make all checks payable to</div>
