@using System.Web.Mvc.Html
@Scripts.Render("~/Scripts/detailsDropDownList.js")
@model JagStore.Models.aProductsDetails

@{
    string name = (string)Session["name"];
    List<SelectListItem> sizeList = new List<SelectListItem>();
}

@using (Html.BeginForm("AddToCart", "Cart", new { selectedItem = Model }))
{
<h2>@name</h2>

<div>
    <h4>ProductDiscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
           @name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
                @Html.DropDownListFor(model => model.Color, (List<SelectListItem>)Session["color"], "-- Select Color--", new { id = "colorSelect", @class = "form-control" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            <div id="fill" data-get-size-list-url="@Url.Action("getSizeList")">
                @Html.DropDownListFor(model => model.Size, sizeList, "-- Select Size--", new { id = "sizeSelect", @class = "form-control" })
            </div>
         </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.RetailPrice)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.RetailPrice)*@
        </dd>

    </dl>
</div>
<p>
    <button type="submit">Add to Cart</button> |
    @Html.ActionLink("Back to List", "Index")
</p>
}