@*@model JagStore.ProductDiscription*@
@model IEnumerable<JagStore.ProductDiscription>

@{
    ViewBag.Title = "Details";
}

<h2>@</h2>

<div>
    <h4>ProductDiscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @
            @*@Html.DisplayFor(model => model.Product.ProductName)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @*@Html.DropDownListFor(model => model.Color, (SelectList)ViewBag.color, "-- Select Color--", new  { id = "colorSelect", @class = "form-control"})*@ 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @*@Html.DropDownListFor(model => model.Size, (SelectList)ViewBag.size, "-- Select Size--", new { id = "sizeSelect", @class = "form-control" })*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityInStock)
        </dt>

        <dd>
          @*  @Html.DisplayFor(model => model.QuantityInStock)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.RetailPrice)*@
        </dd>

    </dl>
</div>
<p>
    <button type="submit">Add to Cart</button> |
    @Html.ActionLink("Back to List", "Index")
</p>
